:root {
    --soft-blue: hsl(215,51%,70%);
    --cyan:hsl(178,100%,50%);
    --very-dark-blue-main: hsl(217,54%,11%);
    --very-dark-blue-card: hsl(216,50%,16%);
    --very-dark-blue-line: hsl(215,32%,27%);
    --white: hsl(0,0%,100%);
    --font-size-p: 18px;
}

body {     
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
    padding:0;
    margin:0;
}

main {
    height: 100%;
    display:flex;
    justify-content: center;
    background-color: var(--very-dark-blue-main);
}

.card-container {
    padding: 25px;
    width: 350px;
    background-color:var(--very-dark-blue-card);
    border-radius:15px;
}

.card_img {
    display:block;
    width:100%;
    border-radius:10px;
}

.card-title {
    margin: 20px 0;
    color: var(--white);
    font-size:22px;
    font-weight:600;
}

/*.card-body {
    margin-bottom: 25px;
}*/

.card-body-p {
    color: var(--soft-blue);
    opacity:0.7;
    font-weight:300;
    line-height:1.5;
    margin-bottom:20px;
    font-size: var(--font-size-p);
}

.card-body-data {
    display:flex;
    justify-content: space-between;
}

.card-body-data-info {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.card-body-data-info.price span {
    color: var(--cyan);
    font-weight: 600;
}

.card-body-data-info.time span {
    color: var(--soft-blue);
    opacity:0.7;
}

.card-footer {
    margin-top: 25px;
    padding-top: 16px;
    border-top: 1px solid var(--very-dark-blue-line);
    display: flex;
    align-items: center;
    gap: 16px;
}

.card-footer img {
    width:35px;
    border-radius: 50%;
    border: 1px solid white;
}

.card-footer p {
    color: var(--soft-blue);
    opacity:0.7;  
    font-size: 16px;
}

.card-footer p span {
    color: var(--white);
    opacity: 1;
}